body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #333;
    font-family: sans-serif;
}
ul
{
    margin: 0;
    padding: 0;
    display: flex;
}
ul li
{
    position: relative;
    list-style:none;
    width: 20px;
    height: 20px;
    background: #777;
    margin: 0 20px;
    border-radius: 80%;
    transition: 0.5s;
    cursor: pointer;
}
ul li:hover
{
    background:#3c06cf;
    box-shadow: 0 0 0 4px #333;
    box-shadow: 0 0 0 8px #0bffd6;
}
ul li .content:before
{
content: '';
position: absolute;
width: 30px;
height: 30px;
background: #fff;
bottom: -15px;
left: 195px ;
transform: rotate(45dge);
}
ul li .content
{
    position: absolute;
    bottom: 55px;
    width: 400px;
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-50%) translateY(-50%);
}
ul li:hover .content
{
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0%);
}
ul li h2{
    margin: 0;
    padding: 0;
}